:root {
  --bg-color: #FFFFFF;
  --primary-color: #007BFF;
  --accent-color: #DDEEFF;
  --text-color: #000000;
  --success-color: #28a745;
  --error-color: #CC0000;
  --button-hover: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bg-color);
}

.container {
  background: var(--bg-color);
  padding: 30px 40px;
  border-radius: 12px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  width: 100%;
  max-width: 600px;

  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--primary-color);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
  width: 300px;
}

.field label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color);
}

.field input {
  padding: 9px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  color: var(--text-color);
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: var(--primary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background: var(--button-hover);
}

.button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#message {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: var(--primary-color);
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: var(--text-color);
}

@media (max-width: 425px) {
    .container {
      padding: 20px 20px;
    }
    footer {
      font-size: 13px;
    }
}
