body {
  height: 100vh;
  background-color: #FFFFFF;
}

.navbar {
  background-color: #007BFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  padding: 0 70px;
  margin: 15px 0;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background: #007BFF;
  color: #FFFFFF;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #0056b3;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#message {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #007BFF;
}

footer {
  padding: 12px;
  color: #333333;
  text-align: center;
}
