.modal-termos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-termos.hidden {
    display: none;
}

.modal-content-termos {
    background: #fff;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 12px;
    max-height: 80vh;
    overflow-y: auto;
}

.checkbox-termos {
    font-size: 14px;
}

.checkbox-termos a{
    color:dodgerblue;
}

.checkbox-termos input {
    margin-right: 6px;
}

.texto-politica p {
    margin-bottom: 12px;
}

.container-btn {
  display: flex;
  justify-content: center;
  gap: 5%; 
  align-items: center;
  width: 100%;
}

.btn {
  width: 100%;
  text-decoration: none;
  padding: 12px;
  background: #FEE715;
  color: #101820;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: 0.3s;
}

.btn:hover {
  background: #92850c;
}

@media (max-width: 768px) {
  .container-btn {
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
    font-size: 0.95em;
    padding: 14px;
  }
}

/* Telas até 480px (smartphones pequenos) */
@media (max-width: 480px) {
  .container-btn {
    gap: 12px;
    width: 100%;
    padding: 0 10px;
  }

  .btn {
    font-size: 0.9em;
    padding: 12px;
    border-radius: 6px;
  }
}