* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #FFFFFF;
  --primary-color: #007BFF;
  --success-color: #27AE60;
  --text-color: #000000;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bg-color);
}

.container {
  background: #FFFFFF;
  padding: 30px 40px;
  border-radius: 12px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  width: 100%;
  max-width: 600px;

  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--primary-color);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
  width: 300px;
}

.field label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color);
}

.field input {
  padding: 9px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  color: var(--text-color);
  background-color: #FFFFFF;
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: var(--primary-color);
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background: #0056b3;
}

.button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#message {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: var(--primary-color);
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: var(--text-color);
}

@media (max-width: 425px) {
    .container {
      padding: 20px 20px;
    }
    footer {
      font-size: 13px;
    }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  .field {
    width: 100%;
  }

  .field label {
    font-size: 14px;
  }

  .field input {
    padding: 8px;
    font-size: 0.95em;
  }

  .excluirConta__container {
    padding-top: 30px;
    text-align: center;
  }

  .excluirConta__container h2 {
    font-size: 1.4rem;
    color: var(--primary-color);
  }

  .excluirConta__container p {
    font-size: 0.95rem;
    padding: 0 10px;
    color: var(--text-color);
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 1.4rem;
    padding-bottom: 8px;
  }

  .field label {
    font-size: 13px;
  }

  .field input {
    padding: 7px;
    font-size: 0.9em;
    border-radius: 6px;
  }

  .excluirConta__container h2 {
    font-size: 1.2rem;
  }

  .excluirConta__container p {
    font-size: 0.9rem;
  }
}
