.navbar-brand {
  height: 70px;
}

.pagination .page-link {
  color: #000000;
  border-color: #007BFF;
}

.pagination .page-item.active .page-link {
  background-color: #007BFF;
  border-color: #007BFF;
  color: #FFFFFF;
}

.pagination .page-link:hover {
  background-color: #0056b3;
  color: #FFFFFF;
}

tr.selecionada {
  background-color: #DDEEFF !important;
}


h2 {
  text-align: center;
  color:#007BFF;
  padding-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
  width: 100%;
  padding: 12px;
  margin: 20px 20px 0px 20px;
  background: #007BFF;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background: #0056b3; /
}

.button:focus {
  outline: 2px solid #007BFF;
  outline-offset: 2px;
}

tr.selecionada {
  background-color: #DDEEFF !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
    text-align: center;
  }

  .carousel-item {
    height: 300px;
  }

  footer {
    text-align: center;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 12px;
  }

  .carousel-item {
    height: 220px;
  }

  footer {
    padding: 10px;
  }
}
