.navbar-brand {
  height: 70px;
}

.pagination .page-link {
  color: #000000;
  border-color: #007BFF;
}

.pagination .page-item.active .page-link {
  background-color: #007BFF;
  border-color: #007BFF;
  color: #FFFFFF;
}

.pagination .page-link:hover {
  background-color: #0056b3;
  color: #FFFFFF;
}


h2 {
  text-align: center;
  color:#007BFF;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.4em;
    padding-bottom: 8px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2em;
    padding-bottom: 6px;
  }
}
