
.container p {
  font-size: 13px;
  color: #28a745;
  padding: 10px 0;
}

.container-btn {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5%; 
  align-items: center;
  width: 100%;
}

.btn {
  width: 100%;
  text-decoration: none;
  padding: 12px;
  background: #FEE715;
  color: #101820;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: 0.3s;
}

.btn:hover {
  background: #92850c;
}

@media (max-width: 768px) {

  .container p {
    font-size: 12px;
    text-align: center;
  }

  .container-btn {
    flex-direction: column;
    gap: 12px;
  }

  .btn {
    width: 90%;
    font-size: 0.95em;
    padding: 10px;
  }
}

@media (max-width: 480px) {

  .container p {
    font-size: 11px;
  }

  .container-btn {
    width: 100%;
    gap: 10px;
  }

  .btn {
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
  }
}
